body {
    margin: 0;
    margin-left: 27px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffdbdd
}

input {
    font-family: "Bebas Neue", sans-serif;
    width: 91%;
    height: 30px;
    border-width: 1.5px;
    border-color: black;
    border-style: solid;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 550;
}
button {
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    height: 40px;
    width: 160px;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
}
p {
    font-size: 27px;
    margin-bottom: 30px;
}
ul {
    font-weight: 550;
    cursor: auto;
}
a {
    color: black;
}